appdirs==1.4.3
beautifulsoup4==4.8.2
bioservices==1.6.0
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
colorlog==4.1.0
easydev==0.9.38
gevent==1.4.0
greenlet==0.4.15
grequests==0.4.0
idna==2.8
lxml==4.5.0
numpy==1.18.1
pandas==1.0.1
pexpect==4.8.0
ptyprocess==0.6.0
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
requests-cache==0.5.2
six==1.14.0
soupsieve==1.9.5
suds-jurko==0.6
urllib3==1.25.8
wrapt==1.11.2
xmltodict==0.12.0